<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B6A11062A7A8165008F3C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6A111C2A7A8169008F3C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6A11262A7A8169008F3C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA1367F2A827054003652A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
